body{
    margin: 0;
    padding: 0;
}
.container{
    text-align: center;
    margin-top: 360px;
}

.btn{
    background:orange;
    width: 100px;
    margin-top: 10px;
}

.btn1:hover {
    color: #fff; 
    background-color: black;
}

.btn2 {
    display: inline-block;
    vertical-align: middle;
    transform: translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    backface-visibility: hidden;
    -moz-osx-font-smoothing: grayscale;
    transition-duration: 0.3s;
    transition-property: transform;
}

.btn2:hover,
.btn2:focus,
.btn2:active {
    transform: scale(1.1);
}

